&pinctrl {
	spim3_w5500: spim3_w5500 {
		group1 {
			pinmux = <SPIM3_MISO_GPIO19>,
				 <SPIM3_SCLK_GPIO18>;
		};

		group2 {
			pinmux = <SPIM3_MOSI_GPIO23>;
			output-low;
		};
	};
};

/ {
	aliases {
		status-green-led = &status_green_led;
		status-red-led = &status_red_led;
		power-button = &power_button;
	};

	gpio-leds {
		compatible = "gpio-leds";

		status_green_led: status_green_led {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Status green LED";
		};

		status_red_led: status_red_led {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "Status red LED";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		power_button: power_button {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Power button";
		};
	};
};

&spi3 {
	status = "okay";
	pinctrl-0 = <&spim3_w5500>;
	cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;

	eth_w5500: eth-w5500@0 {
		compatible = "wiznet,w5500";
		reg = <0>;
		spi-max-frequency = <1000000>;
		local-mac-address = [02 00 00 12 34 56];
	};
};
